@font-face {
  font-family: 'open-sans';
  src: url("../fonts/opensans-regular-webfont.eot");
  src: url("../fonts/opensans-regular-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/opensans-regular-webfont.woff") format('woff'), url("../fonts/opensans-regular-webfont.ttf") format('truetype'), url("../fonts/opensans-regular-webfont.svg#open_sansregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open-sans-light';
  src: url("../fonts/opensans-light-webfont.eot");
  src: url("../fonts/opensans-light-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/opensans-light-webfont.woff") format('woff'), url("../fonts/opensans-light-webfont.ttf") format('truetype'), url("../fonts/opensans-light-webfont.svg#open_sanslight") format('svg');
  font-weight: 300;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
}
#mobile-app {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background-image: url("../img/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-family: 'open-sans-light';
  font-weight: 400;
}
#mobile-app .app-container {
  margin: 0 auto;
  max-width: 400px;
  padding: 80px 20px;
}
#mobile-app .app-container .logo-img {
  width: 180px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 80px;
  background-image: url("../img/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}
#mobile-app .app-container .heading h1 {
  font-size: 32px;
  font-weight: 500;
}
#mobile-app .app-container .heading p {
  font-size: 20px;
  line-height: 28px;
}
#mobile-app .app-container .actions {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-bottom: 100px;
  font-size: 14px;
  font-weight: 600;
}
#mobile-app .app-container .actions a {
  color: #fff;
  text-decoration: none;
}
#mobile-app .app-container .actions .btn-primary {
  display: block;
  margin: 20px auto;
  padding: 15px 20px;
  max-width: 240px;
  border-radius: 3px;
  background: #0b8ef0;
}
#mobile-app .app-container .actions .btn-primary:hover {
  background: #0a80d8;
}
#mobile-app .app-container .actions .sub {
  display: inline-block;
  border-bottom: 1px solid #0b8ef0;
  line-height: 30px;
}
